<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
   
    <%- include('./partials/nav.ejs') %>
    <div class="about content p-3 mb-2">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, hic.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, hic.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, hic.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, hic.</p>

    </div>
</body>
</html>